.container {
  min-height: 100vh;
  background-image: linear-gradient(var(--primary-color-transparent-1), var(--primary-color-transparent-2)), url(/assets/hero-background.jpg);
  /* background-image: linear-gradient(var(--secondary-color-transparent-1), var(--secondary-color-transparent-2)), url(/assets/hero-background.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/* .slide_2 {
  background-image: linear-gradient(var(--secondary-color-transparent-1), var(--secondary-color-transparent-2)), url(/assets/hero-background.jpg);
} */

.container > div {
  max-width: var(--desktop-width);
  margin: 0 auto;
  min-height: inherit;
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
}

.container > div .image_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container > div .image_container img {
  width: 80%;
}

.container > div .content {
  /* padding-top: 7rem; */
  width: 100%;
  display: grid;
  gap: 2rem;
}
.container > div .content h1 {
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: 5px;
  font-weight: 100;
}
.container > div .content h1 span {font-weight: normal;}
.container > div .content p {
  letter-spacing: 1px;
}

.container > div .content a {
  width: max-content;
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
