.item {
  /* border: 1px solid; */
}
.item .image_container,
.item .image_container img {width: 100%;}
.item {
  background-color: var(--white-color);
  padding: 40px 20px;
}

.item h1.title {
  font-size: 1.5rem;
  text-align: left;
  letter-spacing: normal;
  margin-top: 0px;
  margin-bottom: 0;
}

