.producto {
  /* border: 1px solid; */
}
.producto .image_container,
.producto .image_container img {max-width: 100%;}
.producto {
  background-color: inherit;
  padding: 0 20px;
  
}
.producto .image_container {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.producto h1.title {
  font-size: 1.5rem;
  text-align: left;
  letter-spacing: normal;
  margin-top: 0px;
  margin-bottom: 0;
}
@media (max-width: 600px) {
  .producto .image_container {
    height: 200px;
  }
}