.producto {
  /* border: 1px solid; */
}
.producto .image_container,
.producto .image_container img {width: 100%;}
.producto {
  background-color: var(--white-color);
  padding: 40px 20px;
}

.producto h1.title {
  font-size: 1.5rem;
  text-align: left;
  letter-spacing: normal;
  margin-top: 0px;
  margin-bottom: 0;
}

