/* PRODUCTOS DESTACADOS */
.container {
  background-color: #f1f1f1;
}
.container > div {
  max-width: var(--desktop-width);
  margin: auto;
  padding: 80px 0;
  min-height: 600px;
  /* background-color: var(--white-color); */
}
.container > div > h1 {
  /* font-size: 1.5rem; */
  text-align: center;
  margin-bottom: 80px;
}



/* 
.container .container_lista {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.container .container_item .image_container,
.container .container_item .image_container img {width: 100%;}
.container .container_item {
  background-color: var(--white-color);
  padding: 40px 20px;
}

.container .container_item h1 {
  font-size: 1.5rem;
  letter-spacing: normal;
  margin-top: 40px;
  margin-bottom: 0;
}
 */