/* PRODUCTOS DESTACADOS */
.productos_destacados {
  background-color: #f1f1f1;
  background-color: var(--white-color);
}
.productos_destacados > div {
  max-width: var(--desktop-width);
  margin: auto;
  padding: 80px 0;
  min-height: 600px;
}
.productos_destacados > div > h1 {
  /* font-size: 1.5rem; */
  text-align: center;
  margin-bottom: 80px;
}



/* 
.productos_destacados .productos_destacados_lista {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.productos_destacados .productos_destacados_item .image_container,
.productos_destacados .productos_destacados_item .image_container img {width: 100%;}
.productos_destacados .productos_destacados_item {
  background-color: var(--white-color);
  padding: 40px 20px;
}

.productos_destacados .productos_destacados_item h1 {
  font-size: 1.5rem;
  letter-spacing: normal;
  margin-top: 40px;
  margin-bottom: 0;
}
 */