/* PRODUCTOS DESTACADOS */
.container {
	background-color: #f1f1f1;
}

.container>div {
	max-width: var(--desktop-width);
	margin: auto;
	padding: 80px 0;
	min-height: 600px;
	/* background-color: var(--white-color); */
}

.container>div>h1 {
	/* font-size: 1.5rem; */
	text-align: center;
	margin-bottom: 80px;
}


/* form styles */	
.form {
	max-width: 600px;
	margin: auto;
}

.formContainer * {
  font-family: 'Open Sans';
	font-size: 1rem;
}
.formContainer {
	width: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
	/* grid-template-columns: 1fr; */
	gap: 10px;
}
.formContainer > * {
	width: 100%;
}

.formGroup {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formItem label {
	display: block;
	margin-bottom: 5px;
}
.formItem textarea {
	resize: vertical;
	padding: 5px;
}
.formItem input {
	padding: 5px;
}

.formSubmit {
	width: max-content;
  padding: 1rem 3rem;
	border: 0;
	margin: auto;
	letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: all .25s cubic-bezier(.25,.46,.45,.94);
	cursor: pointer;
}
.formSubmit:hover {
	color: var(--primary-color);
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

.formItemToCenter {
	display: flex;
	flex-direction: column;
}

/*Error or Success message*/

.error {
	color: red;
	font-weight: bold;
	text-transform: uppercase;
}

.success {
	color: green;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
}


@media (max-width: 800px) {
  .container > div {
    padding: 40px;
  }
	.container > div > h1 {
		margin-bottom: 40px;
	}
}
@media (max-width: 600px) {
  .container > div {
    padding: 40px 20px;
  }
}