@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

html,
body {
  /* VARS */
  --desktop-width: 1060px;
  --primary-color: #181e90;
  --primary-color-transparent-1: rgba(24, 30, 144, 0.875);
  --primary-color-transparent-2: rgba(24, 30, 144, 0.95);
  --primary-color-transparent-1: rgba(24, 30, 144, 0.725);
  --primary-color-transparent-2: rgba(24, 30, 144, 0.8);
  --secondary-color: #ecb632;
  --secondary-color-transparent-1: rgba(236, 182, 50, 0.725);
  --secondary-color-transparent-2: rgba(236, 182, 50, 0.8);
  --dark-color: #010101;
  --white-color: #fff;
  scroll-behavior: smooth;
  font-family: FuturaLTW01-Medium, sans-serif;
  font-family: 'Open Sans';
  color: var(--dark-color);
}

button {
  font-family: 'Open Sans';

}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
}

.dnone {
  display: none;
}

@media (max-width: 450px) {
  :root {
    font-size: 0.8rem;
  }
}