.container {
  color: var(--dark-color);
}

.main_container > section > .main {
  max-width: var(--desktop-width);
  margin: auto;
  padding: 80px 40px;
}

.main_container h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}
.main_container p {
  font-size: 0.9rem;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  margin-top: 20px;
}
.main_container section:nth-child(even) {
  background-color: #f8f8f8;
}
.main_container section:nth-child(odd) {
  min-height: 600px;
  background-color: var(--white-color);
}