.container {
  background-color: #f4f4f4;
  background-color: var(--white-color);
  color: var(--dark-color);
}
.container .main {
  /* max-width: var(--desktop-width); */
  margin: auto;
  padding-bottom: 80px;
}
.container .main > h1 {
  /* font-size: 1.5rem; */
  border-bottom: 2px solid var(--primary-color);
  margin-bottom: 0;
  padding: 40px 80px;
}

.images {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 250px;
  justify-content: center;
  align-items: center;
}

.images > div {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.images > div:nth-child(4),
.images > div:nth-child(1) {
  height: 60px;
}

.images img {
  height: 100%;
}
