/* PRODUCTOS DESTACADOS */
.container {
	background-color: #f1f1f1;
}

.container > div {
  /* max-width: var(--desktop-width); */
  margin: auto;
  padding-bottom: 80px;
}

.container > div > h1 {
  /* font-size: 1.5rem; */
  border-bottom: 2px solid var(--primary-color);
  margin-bottom: 80px;
  padding: 40px 80px;
}

.container .map {
	max-width: var(--desktop-width);
  margin: auto;

}

@media (max-width: 800px) {
  .container > div {
    padding: 40px;
  }
	.container > div > h1 {
		margin-bottom: 40px;
	}
}
@media (max-width: 600px) {
  .container > div {
    padding: 40px 20px;
  }
}