/* PRODUCTOS DESTACADOS */
.container {
	background-color: #f1f1f1;
}

.container > div {
	max-width: var(--desktop-width);
	margin: auto;
	padding: 80px;
	min-height: 600px;
	/* background-color: var(--white-color); */
}

.container > div > h1 {
	/* font-size: 1.5rem; */
	text-align: center;
	margin-bottom: 80px;
}

@media (max-width: 800px) {
  .container > div {
    padding: 40px;
  }
	.container > div > h1 {
		margin-bottom: 40px;
	}
}
@media (max-width: 600px) {
  .container > div {
    padding: 40px 20px;
  }
}